* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;     
}

html, body {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: relative
}

.instructions {
    border: 1px solid black;
    width: 400px;
    height: 140px;
    position: absolute;
    bottom: 0px;
    
}

/*----parkingspot----*/
.parkingSpot {
    border: 3px solid black;
    width: 200px;
    height: 100px;
    float: right;
}

/*---message----*/
.message {
    text-align: center;
    width: 150px;
    height: 120px;
    margin-left: 80px;
    margin-top: -40px;
    position: relative;
}

/*----timer----*/
.timer {
    text-align: center;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: relative;
}

/*----Cars----*/
.car1 {
    width: 100px;
    height: 50px;
    background-image: url('../resources/car1.png')
}

.car2 {
    width: 100px;
    height: 50px;
    background-image: url('../resources/car2.png')
}

.car3 {
    width: 80px;
    height: 50px;
    background-image: url('../resources/car3.png')

}

.car4 {
    width: 120px;
    height: 50px;
    background-image: url('../resources/car4.png')
}




/*----driving----*/
.driving{
    transition: width 1s, height 1s, background-color 1s, transform 2s;  
}